html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.container {
    max-width: 1110px;
    /*background-color: bisque;*/
    margin: 0 auto;
}

:root {
    --accent-color: #F7654A;
    --dark-color: #404149;
    --gray-color: #999999;
    --white-color: #ffffff;
    --background-color: #e5e5e5;
}

.text-h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
}

.text-h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.text-h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 21px;
}

.text-p {
    font-family: 'Open Sans', sans-serif;
    ;
    font-size: 16px;
}

.text-p-reviews {
    font-family: 'Open Sans', sans-serif;
    ;
    font-size: 16px;
    line-height: 21px;
}

/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Oswald', sans-serif; */
.header {
    min-height: 740px;
    background-image: url(../img/first-screen-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header_title {
    padding-top: 20px;
    margin-bottom: 112px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    width: 60px;
    height: 60px;
}

.burger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    background-color: var(--accent-color);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burger_line {
    display: block;
    width: 21px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 4px;
}

.burger_line:last-child {
    margin-bottom: 0;
}

.h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    max-width: 734px;
    margin: 0 auto 17px;
    color: var(--white-color);
}

.h4 {
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    max-width: 734px;
    color: var(--white-color);
}

.about {
    min-height: 1080px;
    position: relative;
}

.info {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f7f7f7;
    max-width: 1110px;
    width: 100%;
    min-height: 300px;
    padding: 57px 130px;
}

.about_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
}

.about_grid-item {
    width: 190px;
    text-align: center;
}

.about_h4 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    text-align: center;
    text-transform: uppercase;
    color: #F7654A;
    margin-bottom: 5px;
}

.about_h5 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
}

.about_p {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #999999;
}

@media screen and (max-width: 1280px){
    .about_grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px){
    .info{
        position: relative;
    }
    .about_grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}